*.csv
*.pt
*.pth
*.log
*.ckpt
*.h5
./pdfs
.DS_Store
__pycache__
data/
data
results/
results/*
fig/
figs/
models/
models/*
checkpoints/
checkpoints/*
*json
*.tar
*.gz
*.zip
*.pth
cifar10_variants/
cifar10_variants/*
*.npy
*.npz