*.csv
*.pt
*.pth
*.log
*.ckpt
*.h5
./pdfs
.DS_Store
__pycache__
data/
data
results/
results/*
fig/
figs/
# models/
# models/*
checkpoints/
checkpoints/*
*json
*.tar
*.gz
*.zip
*.pth
cifar10_variants/
cifar10_variants/*
*.npy
*.npz
figures/
figures/*
cifar10w
cifar10w/*
plots/
plots/*
tmp_viz/
tmp_viz/*
.pdf
.png
.jpg
.jpeg
